body{
    background: linear-gradient(135deg, blue 50%, rgb(0, 0, 95));
    font-family: sans-serif;
}

@keyframes animacao-entrar{
    0% { transform: scale(.9); opacity: 0}
    100% { transform: scale(1); opacity: 1 }
}

.animar-entrar{
    animation-name: animacao-entrar;
    animation-duration: .5s;
}

.principal{
    background-color: white;
    margin: 80px auto;
    width: 50%;
    border-radius: 10px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0px 30px 50px rgba(0,0,0,.5);
    animation-name: animacao-entrar;
    animation-duration: .5s;
}

.principal .esquerda{
    display: inline-block;
    padding: 20px;
    background-color: rgb(149, 0, 172);
    width: 40%;
    box-sizing: border-box; 
    float: left;
    height: 100%;
}

.principal .esquerda .resultado{
    color: white;
    text-align: center;
    font-size: 22pt;
    font-weight: 300;
}

.principal .direita{
    display: inline-block;
    padding: 20px;
    background-color: white;
    width: 60%;
    box-sizing: border-box;
    height: 100%;
}

.principal .direita input{
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0px;
    padding: 20px;
    border-radius: 5px;
    border: solid 2px rgb(149, 0, 172);
}

.principal .direita button{
    background-color: rgb(149, 0, 172);
    border: none;
    box-shadow: 0px 1px 5px rgba(0,0,0,.3);
    width: 100%;
    padding: 20px 20px;
    font-size: 12pt;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}

.triangulo{
    width: auto;
    height: 80px;
    display: block;
    margin: auto;
}