<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lojnha Vuejs</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="node_modules/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/vuetify/dist/vuetify.min.js"></script>
    <script src="js/model/Usuario.js"></script>
</head>

<body>

    <v-app id="app">
        <v-toolbar color="light-blue">
            <v-toolbar-side-icon class="white--text"></v-toolbar-side-icon>
            <v-toolbar-title class="white--text">{{titulo}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items v-if="usuarioLogado" class="hidden-sm-and-down">
                <v-menu :nudge-width="100">
                    <v-toolbar-item class="white--text" slot="activator">
                        {{usuarioLogado.nome}}
                        <v-icon dark>arrow_drop_down</v-icon>
                    </v-toolbar-item>
                    <v-list>
                        <v-list-tile>
                            <v-list-tile-title @click="logout">Sair</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </v-toolbar-items>
        </v-toolbar>
        <v-content>
            <v-container>
                <h1>Lojas</h1>

                <div v-if="!usuarioLogado">
                    <h2>Olá, cadastre-se para fazer compras:</h2>
                    <v-form>
                        <v-text-field type="text" label="Nome" v-model="usuario.nome"></v-text-field>
                        <v-text-field type="email" label="Email" v-model="usuario.email"></v-text-field>
                        <v-text-field type="password" label="Senha" v-model="usuario.senha"></v-text-field>
                        <v-btn type="button" @click="salvar">Salvar</v-btn>
                    </v-form>
                </div>

                <v-layout row wrap v-else>
                    <v-flex xs12 md10>
                        <v-flex xs12 mb-4>
                            <h2>Olá {{usuarioLogado.nome}}, seja bem-vindo à loja Vue!</h2>
                        </v-flex>
                        <v-layout row wrap justify-space-between>
                            <v-flex mt-4 mb-2 xs12 v-for="loja in lojas">
                                <v-card color="cyan darken-2" class="white--text">
                                  <v-layout wrap>
                                    <v-flex xs12>
                                      <v-card-title primary-title>
                                        <div>
                                          <div class="headline">{{loja.nome}}</div>
                                        </div>
                                      </v-card-title>
                                    </v-flex>
                                  </v-layout>
                                </v-card>
                              </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex xs12 md2>
                        <img width="100%" src="https://cdn1.campograndenews.com.br/uploads/tmp/images/5245213/640x480-3b29ba6b649be2a1cf825fc100c7c873.jpg" alt="">
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>

    <script src="js/app.js"></script>

</body>

</html>